@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,600&family=Work+Sans:wght@200&display=swap');




:root {
    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub: 20px;

    --label: 16px;
    --ls: 5px;

    --body: 14px;

    --font-1: "Crimson Text", serif;
    --font-2: "Work Sans", sans-serif;

    --color-dark-100: rgba(41, 33, 33, 1);
    --color-dark-75: rgba(41, 33, 33, 0.75);
    --color-dark-50: rgba(41, 33, 33, 0.5);
    --color-dark-25: rgba(41, 33, 33, 0.25);

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-25: rgba(255, 255, 255, 0.25);

    --color-green-100: rgba(116, 198, 157, 1);
    --color-green-75: rgba(116, 198, 157, 0.75);
    --color-green-50: rgba(116, 198, 157, 0.5);
    --color-green-25: rgba(116, 198, 157, 0.25);
}

/* !Removing default styles of the browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !style rules for common buttons */

.white-btn,
.dark-btn {
    color: var(--color-dark-100);
    background-color: var(--color-white-100);
    cursor: pointer;
    font-size: var(--h5);
    font-family: var(--font-2);
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
}

.dark-btn {
    color: var(--color-white-100);
    background-color: var(--color-dark-100);
}

/* !style rules for text colors */

.text-white {
    color: var(--color-white-100);
}

.text-dark {
    color: var(--color-dark-100);
}

.text-green {
    color: var(--color-green-100);
}

/* !style rules for label */

.label {
    font-family: var(--font-2);
    font-size: var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: 700;
}