@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,600&family=Work+Sans:wght@200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



:root {
    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --sub: 20px;

    --label: 16px;
    --ls: 5px;

    --body: 14px;

    --font-1: "Crimson Text", serif;
    --font-2: "Work Sans", sans-serif;

    --color-dark-100: rgba(41, 33, 33, 1);
    --color-dark-75: rgba(41, 33, 33, 0.75);
    --color-dark-50: rgba(41, 33, 33, 0.5);
    --color-dark-25: rgba(41, 33, 33, 0.25);

    --color-white-100: rgba(255, 255, 255, 1);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-25: rgba(255, 255, 255, 0.25);

    --color-green-100: rgba(116, 198, 157, 1);
    --color-green-75: rgba(116, 198, 157, 0.75);
    --color-green-50: rgba(116, 198, 157, 0.5);
    --color-green-25: rgba(116, 198, 157, 0.25);

    --shadow-1: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

/* !Removing default styles of the browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* !style rules for common buttons */

.white-btn,
.dark-btn {
    color: var(--color-dark-100);
    background-color: var(--color-white-100);
    cursor: pointer;
    font-size: var(--h5);
    font-family: var(--font-2);
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
}

.dark-btn {
    color: var(--color-white-100);
    background-color: var(--color-dark-100);
}

/* !style rules for text colors */

.text-white {
    color: var(--color-white-100);
}

.text-dark {
    color: var(--color-dark-100);
}

.text-green {
    color: var(--color-green-100);
}

/* !style rules for label */

.label {
    font-family: var(--font-2);
    font-size: var(--label);
    letter-spacing: var(--ls);
    text-transform: uppercase;
    font-weight: 700;
}

/* !style rules for the hero section */

.hero {
    background-color: var(--color-green-100);
}

/* !style rules for navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbar__logo--text {
    font-size: var(--h2);
    font-family: var(--font-2);
    color: var(--color-white-100);
    font-weight: 500;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: var(--font-2);
    font-size: var(--h5);
}

[class^="navbar__menu-"] {
    color: var(--color-white-100);
    text-decoration: none;
}

.navbar__icons {
    display: none;
}

.navbar__icons i {
    cursor: pointer;
    font-size: var(--h2);
    color: var(--color-white-100);
}

/* !style rules for common classes */
.text-center {
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;
    gap: 25px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.common-title {
    text-transform: capitalize;
    font-family: var(--font-1);
    font-weight: bold;
    font-size: var(--h1);
}

/* !style rules for footer section */

.footerWrapper {
    background-color: var(--color-green-100);
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.footerLinks__socials {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    cursor: pointer;
}

.footerLinks__copyright {
    font-size: var(--sub);
    font-family: var(--font-2);

}

/* !style rules for media qurries */

@media(max-width:1200px) {
    .container {
        max-width: 970px
    }
}

@media(max-width:1024px) {
    .container {
        max-width: 740px
    }

    .common-title {
        font-size: var(--h4);
    }
}

@media(max-width:768px) {
    .container {
        max-width: 500px
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar__menu {
        z-index: 1;
        background-color: var(--color-green-100);
        position: absolute;
        top: 15vh;
        width: 100%;
        height: 100vh;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .navbar__menu-1 {
        margin-top: -200px;
    }

    .navbar__icons {
        display: block;
    }

    .hide {
        display: none;
    }

    .hidden {
        z-index: -1;
        opacity: 0%;
    }

    .footerLinks {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .footerLinks__socials {
        order: 0;
    }

    .footerLinks__copyright {
        order: 1;
        text-align: center;
    }
}

@media(max-width:568px) {
    .container {
        max-width: 90%
    }
}